body {
    background: #EFEFEF;
}


body, html {
  height: 100%;
}


#top-background {
    height: 50%;
    width:100%;
    background-color: #263441;
    margin:auto;
    text-align:center;
    background-image:url(../images/Elegant_Background-8.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

main {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    margin-top: -200px;
    text-align: center;
    width: 100%;
    max-width: 700px;
    color: #333333;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


main h1 {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 48px;
}


main #contact-information {
    padding: 0px 40px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 20px;
}

main #social {
    font-size: 30px;
    color: #FFFFFF;
    background-color: #374552;
}

main #social .fa {
    padding: 0;
    width: 32%;
}


main #social a {
    color: white;
}


main #social a:hover {
    background-color: #263441;
}

main .row {
    margin-top: 15px;
}

main .row .caption {
    text-transform: uppercase;
    font-weight: bold;
}